.cardResumo {
  border-radius: 1rem;

  padding: 1rem 2rem;
}

.cardResumoPagas {
  background-color: var(--verde-claro);
}

.cardResumoVencidas {
  background-color: var(--vermelho-claro);
}

.cardResumoPrevistas {
  background-color: var(--amarelo-claro);
}
