.clientesSecao section {
    margin-bottom: 2rem;
  }
  
  .inputContainer {
    position: relative;
  
    min-width: 300px;
  }
  
  .inputContainer input {
    padding-right: 2rem;
  }
  
  .inputIcone {
    cursor: pointer;
  
    position: absolute;
    top: 50%;
    right: 0.5rem;
    
    transform: translateY(-50%);
  }
  
  .inputContainerUF {
    max-width: 12ch;
  }
  
  .filtro {
      padding: 0.5rem;
      background-color: #fff;
      border-radius: 10px;
      cursor: pointer;
  }