  .inputContainer {
    position: relative;
  
    min-width: 300px;
  }
  
  .inputContainer input {
    padding-right: 2rem;
  }
  
  .inputIcone {
    cursor: pointer;
  
    position: absolute;
    top: 50%;
    right: 0.5rem;
    
    transform: translateY(-50%);
  }
  
  .filtro {
      padding: 0.5rem;
      background-color: var(--branco);
      border-radius: 10px;
      cursor: pointer;
  }

  .main {
    max-width: 1440px;
    background-color: var(--branco);
    border-radius: 2rem;
  }

  .headerContainer {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #EFF0F6
  }

  .headerItem {
    width: 12%;
    font-weight: 700;
  }
  
  .ordenar {
    cursor: pointer;
  }
  
  .headerItem2{
    font-weight: 700;
    width: 30%;
  }

  .headerItem3 {
    font-weight: 700;
    width: 10%;
  }
  
  .containerItems {
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid #EFF0F6;
  }
  
  .items {
    cursor: pointer;
    width: 12%;
    font-size: 0.8rem;
    color: #6e6e85;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .item2 {
    cursor: pointer;
    font-size: 0.8rem;
    overflow: hidden;
    width: 30%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .divIcones {
    width: 12%;
    font-size: 0.8rem;
    cursor: pointer;
    gap: 0.3rem
  }

  .pendente {
    background-color: #FCF6DC;
    color: var(--amarelo);
    font-weight: 700;
    padding: 0.4rem;
    border-radius: 0.8rem;
  }

  .paga {
    color:  var(--verde);
    background-color: var(--verde-claro);
    font-weight: 700;
    padding: 0.4rem;
    border-radius: 0.8rem;
    
  }
  
  .vencida {
    background-color: #FFEFEF;
    color: var(--vermelho);
    font-weight: 700;
    padding: 0.4rem;
    border-radius: 0.8rem;
  }