.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.flex-grow {
  flex-grow: 1;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.btn-primario {
  background-color: var(--primaria);
}

.btn-secundario {
  background-color: #dedee9;
  color: var(--verde-escuro);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
