.form {
    padding: 2px;        
}

.label {
    color: var(--cinza-escuro);
    font-family: var(--fonte-primaria);
    font-weight: 600;
}

.button {
    width: 10rem;
    padding: 0.5rem;
    margin-top: 3rem;
}

.input {
    width: 23rem;
}

.img {
    position: absolute;
    bottom: 10vh;
}
