.inputContainer {
  position: relative;
}

.inputContainerIcone {
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 1rem;

  transform: translateY(-50%);
}

.inputErro {
  border-color: #e70000;
}

.inputMensagemErro {
  color: #e70000;

  font-size: 0.8rem;
  font-family: var(--fonte-inter);

  margin-top: 0.2rem;
}
