.form {
    margin-top: 20vh;
}

.h2 {
    font-family: var(--fonte-primaria)
}

.button {
    width: 10rem;
    padding: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.input {
    width: 23rem;
}

.label {
    position: relative;
}

.erro {
    border-color: red;
}

.erro2 {
    position: absolute;
    top: 3.7rem;
    left: 3.7rem;
    color: red;
    font-size: 1rem;
    font-weight: 400;
}